<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      body {
        font-family: sans-serif;
        font-size: 1.5vw;
        color: #4E4E56;
      }

      span {
        color: #E83F6F;
      }

      a {
        color: #E83F6F;
      }

      a:hover {
        color: #FFBF00;
      }

      #parlayvous {
        color: #32936F;
        font-weight: bold;
      }

      #email_option {
        font-size: 0.8vw;
        text-decoration: underline;
        color: #2274A5;
      }
    </style>

  </head>
  <body>
    <h2><span id="parlayvous">ParlayVous!</span> You just won this item: <%= @deal.name %>.</h2>
    <p>
      Your prize will be shipped to the following address: <%= @deal.winners_shipping_address %>.
    </p>
    <p>
      If you would like to have this item shipped to a different address, contact customer service at <span>parlay.vous@gmail.com</span>.
    </p>
    <p>Thanks for participating. Keep winning!</p>
    <p>The <span id="parlayvous">ParlayVous</span> Team</p>
    <br>
    <p id="email_option">* To deactivate/activate email notifications or text notifications, please visit your notifications settings page at ParlayVous.</p>
  </body>
</html>
