.comment_yours {
	color: black;
	padding-left: 0vw;
	padding-bottom: .5vh;
}

.comment {
	color: black;
	padding-left: 1.3vw;
	padding-bottom: .5vh;
}

.comment_yours {
	padding-left: 1.2vw;
}

.comment_yours:hover {
	padding-left: .3vw;
	padding-right: 1vw;
	padding-top: 0vh;
	padding-bottom: 0vh;
	margin-top: 0vh;
	background-color: #E6E6E6;
}

.time {
	color: #C5C5C5;
	font-size: 1vw;
}

.comment_yours:hover .time {
	color: #C5C5C5;
	font-size: 1vw;
	margin-left: 0vw;
	padding-top: 10vh;
}

.comment_yours .time {
	color: #C5C5C5;
	font-size: 1vw;
	margin-left: -1vw;
}

.comment_yours .delete_comment_link {
	display: none;
}

.comment_yours:hover .delete_comment_link {
	display: inline;
}

.comments_box {
	background-color: black;
	clear: both;
	width: 85%;
	text-align: center;
	margin-left: 9vw;
}

.comments_box p {
	color: white;
	font-size: 1.4vw;
}

.comments_display {
	width: 40%;
	margin-left: 6.5vw;
	margin-top: 1vh;
  padding-left: 1vw;
	padding-bottom: 3vh;
	display: inline-block;
}

.comments_list {
	width: 90%;
	margin-left: 9.2vw;
	margin-top: 1vh;
	padding-left: 1vw;
	padding-bottom: .5vh;
}

.comments_list li {
	border-bottom: dashed gray 1px;
	width: 90%;
	font-size: 1.2vw;
}

.comments_list li h3 {
	font-size: 1.4vw;
	margin-top: 1vh;
	margin-bottom: 2vh;
	text-align: center;
}

.bottom_comments_list {
	width: 90%;
	margin-left: 9.2vw;
	margin-top: 1vh;
	padding-left: 2.5vw;
	padding-bottom: 3vh;
}

.bottom_comments_list li {
	width: 90%;
	font-size: 1.2vw;

}

.comment_input_box{
	margin-top: 2vh;
	margin-left: 1.5vw;
	-moz-margin-left: -1.5vw;
}

.comment_box {
	display: inline-block;
	padding-left: 1vw;
	margin-left: 6.5vw;
	margin-top: 1vh;
}

.comments_title {
	padding-right: 1vw;
}

#comment_now {
	text-align: center
}

.placeholder {
	color: black;
	padding-left: 1vw;
	padding-top: 1vh;
}

textarea {
   font-family: Hind;
   font-size: 1.2vw;
}

.placeholder{
	color: gray;
}
