.myMenu {
	margin:0;
	padding:0;
}

#dropdown {
	float:left;
}

#dropdown:hover {
	cursor: pointer;
}

.dropdown-ul {
	position: relative;
	margin-left: 10vw;
}

.myMenu li a:link, .myMenu li a:visited {
	display:block;
	text-decoration:none;
	background-color: white;
	border-right: 1px solid #fff;
	color:#111;
}

.myMenu li a:hover {
	background-color: white;
}

/*style the sub menu*/
.ul_hide {
	position:absolute;
	visibility:hidden;
	border-top:1px solid #fff;
	margin:0;
	padding:0;
}

.ul_show {
	position: absolute;
	visibility: visible;
	border-top: 1px solid #fff;
	margin:3px;
}

.ul_show li {
	width: 30px;
}

#dropdown-links a {
	width: 126px;
	padding-left: 10px;
}

.myMenu li ul li a:link, .myMenu li ul li a:visited {
	background-color: white;
	border-bottom: dashed black 1px;
	margin-left: 2.6vw;
	margin-left: 3.1vw;
	width:auto;
	margin-top: -3vh;
}

.myMenu li ul li a:hover {
	background-color: white;
	color: #E83F6F;
}
