.login-registration-form{
	text-align: center;
	width: 30%;
	margin: auto;
/*	border: solid #0047B2 1px;*/
	border-radius: 6px;
	padding-bottom: 2px;
	padding-top: 2px;
}

.login-registration-form h1{
	font-size: 2vw;
	color: white;
	margin-top: 2vh;
	margin-bottom: 1vh;
}

.login-registration-form form{
	margin-left: -3vw;
	color: white;
}

.login-registration-form p{
	margin-top: 4vh;
	margin-bottom: .5vh;
}

.login-registration-form label{
	font-size: 1.2vw;
}
