li {
  list-style: none;
}

body {
	font-family: sans-serif, Muli;
}
.supplier_index {
	color: white; 
	text-align: center;
	width: 35vw;
	padding-left: 18vw;

}
.new_charity a{
	color: white;
	font-size: 16px;
}

.about-section{
	background-color: #40B3E5;
  opacity: 0.8;
 	width: 70%;
 	margin: auto;
  margin-top: 20px;
 	border-radius: 5px;
 	padding-bottom: 20px;
 	box-shadow: 0px 0px 10px #40B3E5;
}

.about-section h2 {
	text-align: center;
  color: white;
	width: 90%;
	font-size: 2vw;
	padding-top: .4vw;
	color: white;
	margin-left: 1.6vw;
}

.about-section li {
	color: white;
	padding-top: -10vw;
}

#description-title{
	padding-left: 4vw;
	font-size: 1.5vw;
	font-weight: bold;
}

#description-end{
	margin-left: 3.3vw;
	width: 82%;
	font-size: 3vw;
	font-weight: bold;
	border-bottom: dashed #5092BA 2px;
	padding-top: 2vw;
}

#description-contact-title{
	font-size: 3vw;
	font-weight: bold;
	text-align: center;
	margin-left: -11vw;
}

#description{
	width: 80%;
	text-align: justify;
	padding-left: 6vw;
	margin-top: 0px;
	font-size: 1vw;
}

#description-contact{
	width: 80%;
	text-align: justify;
	padding-left: 2.7vw;
	font-size: 1vw;

}

#charities-list{
	display: inline;
}
#charities-list a:hover {
	color: white;
}
#charities-list a {
	color: #2274a5;
}

#create-charity a{
	color: white;
}

#create-charity a:visited{
	color: white;
}

.suppliers-listed-deals {
	margin-left: 80px;
}

.suppliers-listed-deals h1 {
	text-align: center;
	margin-left: -80px;
	font-size: 30px;
	color: #40B3E5;
	text-decoration: underline;
}

.suppliers-listed-deals p {
text-align: center;
margin-left: -80px;
}

.suppliers-listed-deals a:visited {
color: #40B3E5;
}
.suppliers-listed-deals a {
color: #40B3E5;
}

.suppliers-listed-deals .run-back {
	margin-left: -40px;
}

.prog-bar {
	width: 50%;
	margin-left: 40px;
}
